body{
    background: #000;
    color: #aaa;
    font-family: sans-serif;
}
.buttons{
    border-width: 0;
    height: 30px;
    margin: 1px;
    vertical-align: top;
    width: 30px !important;
}
input{
    background: #000;
    color: #aaa;
    width: 75px;
}
input[type=button]{
    width: auto;
}
input[type=button]:not([disabled]),
input[type=range],
select:not([disabled]){
    cursor: pointer;
}
#settings-span{
    display: none;
}
.settings-td{
    padding: 9px;
    text-align: left;
    width: 50%;
}
#start-button{
    font-size: 123%;
}
table{
    border-collapse: collapse;
    text-align: center;
}
