.buttons{
    border-width: 0;
    height: 30px;
    margin: 1px;
    vertical-align: top;
    width: 30px;
}
.settings-td{
    padding: 9px;
    text-align: left;
    width: 50%;
}
table{
    border-collapse: collapse;
    text-align: center;
}
